.git
.github
.gitignore
.vscode
.env
.env.example
.DS_Store
*.pyc
__pycache__
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
node_modules/
npm-debug.log
yarn-error.log
.venv
venv/
env/
ENV/
db.sqlite3
*.log
.dockerignore
Dockerfile
docker-compose.yml
.gitattributes
README.md
*.md
postgre.backup
Bfp1.sql
