[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
pillow = "*"
django-active-link = "*"
python-dotenv = "*"
openpyxl = "*"
whitenoise = "*"
supabase = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.12"
