{% extends "sidebar.html" %}
{% load static %}
{% block title %} True the Fire {% endblock %}

{% block content %}
<header>
    <div class="header-content">
        <span class="navigation-title">
            <h1>Accounts</h1>
        </span>
        <ul class="navigation-list">
            <li class="navigation-item"><a href="#">Hotline</a></li>
            <li class="navigation-item"><a href="#">
                <span class="icon">
                    <i class="bi bi-person-circle"></i>
                </span>
                Hannah Grace Santos
            </a></li>
        </ul>
    </div>
</header>

<main>
    <div class="mn-content-area">
        <div class="accounts-box">
            <div class="accounts-header">
                <h1>List of Accounts</h1>
            </div>
            <div class="accounts-body">
                <div class="ab-header">
                    <div class="abh-search">
                        <input type="text" id="accountSearchInput" class="search-report" placeholder="Search Name, Role, or Email">
                    </div>
                    <div class="abh-filter">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Filter
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="ab-table">

                    <table>
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody  id="accountTable">
                            {% for account in accounts %}
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-{{ account.id }}">
                                        <label class="form-check-label" for="flexCheckDefault-{{ account.id }}">
                                        </label>
                                    </div>
                                </td>
                                <td>{{ account.name }}</td>
                                <td>{{ account.get_role_display }}</td>
                                <td>{{ account.email }}</td>
                                <td>
                                    <div>
                                        <h6>
                                            <a href="{% url 'toggle_verified' account.id %}">
                                                {{ account.verified|yesno:"Verified,Unverified" }}
                                            </a>
                                        </h6>
                                    </div>
                                    
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No accounts available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>          

                </div>
                <div class="ab-buttons">
                    <div class="ab-add">
                        <button type="button" class="btn btn-lg btn" data-bs-toggle="modal" data-bs-target="#add-account-modal">Add</button>
                    </div>
                    <div class="ab-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    
                    
</main>

<!-- Include the modal -->
{% include "modal_create_account.html" %}

{% endblock %}

{% block scripts %}
<!-- ADD SCRIPTS HERE -->
<script src="{% static 'js/table_status.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
    document.getElementById('accountSearchInput').addEventListener('keyup', function() {
    var searchValue = this.value.toLowerCase();
    var tableRows = document.querySelectorAll('#accountTable tr');

    tableRows.forEach(function(row) {
        var name = row.cells[1].textContent.toLowerCase();
        var role = row.cells[2].textContent.toLowerCase();
        var email = row.cells[3].textContent.toLowerCase();

        if (name.includes(searchValue) || role.includes(searchValue) || email.includes(searchValue)) {
            row.style.display = '';  
        } else {
            row.style.display = 'none';  
        }
    });
});



</script>


{% endblock %}
