{% extends "res_sidebar.html" %}
{% load static %}
{% block title %} True the Fire {% endblock %}

{% block content %}
<header>
    <div class="header-content">
        <div class="header-sb">
            <button type="button" id="sidebar-toggle" class="btn btn-light" onclick="toggleSidebar()">
                <div class="btn-sb">
                    <img src="{% static 'images/sidebar-logo.png' %}" alt="bfp-logo">
                </div>
            </button>
        </div>
        <div class="header-nav">
            <span class="navigation-title">
                <h1>Analytics</h1>
            </span>
            <ul class="navigation-list">
                <div class="dropdown">
                    <button class="btn-hotline dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        Hotline
                    </button>
                    <ul class="dropdown-menu drop-hotline" aria-labelledby="dropdownMenu2">
                        <li class="dropdown-item">(610) 888-1111</li>
                        <li class="dropdown-item">(610) 888-1111</li>
                        <li class="dropdown-item">(610) 888-1111</li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn-profile dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="icon">
                            <i class="bi bi-person-circle"></i>
                        </span>
                        <div class="drop-user">{{ user.name }}</div>
                    </button>
                    <ul class="dropdown-menu drop-profile" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#terms-condition">Terms & Condition</button></li>
                        <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#change-pass-modal">Change Password</button></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</header>

<main>
    <div class="mn-content-area">
        <div class="analyses-box">
        <!--4 ANALYSES BOX START-->

        <div class="reported-card">
            <div class="status">
                <div class="stat-progress">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="prog-text">
                        <p>Total: 0</p>
                    </div>
                </div>
                <div class="stat-body">
                    <div class="stat-info">
                        <h4>0</h4>
                    </div>
                    <div class="stat-label">
                        <h6>Detected</h6>
                        <h5>THIS MONTH</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="responded-card">
            <div class="status">
                <div class="stat-progress">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="prog-text">
                        <p>Total: {{ responded_this_month }}</p>
                    </div>
                </div>
                <div class="stat-body">
                    <div class="stat-info">
                        <h4>{{ responded_this_month }}</h4>
                    </div>
                    <div class="stat-label">
                        <h6>Responded</h6>
                        <h5>THIS MONTH</h5>
                    </div>
                </div>
            </div>
        </div>        

            <div class="total-responded-card">
                <div class="status">
                    <div class="stat-progress">
                        <svg>
                            <circle cx="38" cy="38"
                            r="36"></circle>
                        </svg>
                        <div class="prog-text">
                            <p>Total: {{ responded_this_year }}</p>
                        </div>
                    </div>
                    <div class="stat-body">
                        <div class="stat-info">
                            <h4>{{ responded_this_year }}</h4>
                        </div>
                        <div class="stat-label">
                            <h6>Responded</h6>
                            <h5>THIS YEAR</h5>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="chart-detect-box">
            <div class="chart-card">
                <div class="chart-header">
                    <h1>INCIDENTS</h1>
                    <div class="ch-options">
                        <button class="btn-prev-summary" data-bs-toggle="modal" data-bs-target="#preview-incident-summary">
                            <i class="bi bi-file-earmark-break"></i>
                        </button>
                        <div class="select-filter">
                            <select class="form-select" aria-label="Default select example" onchange="updateChart(this.value)">
                                <option value="yearly" selected>Yearly</option>
                                <option value="monthly">Monthly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="chart-graph">
<!--CHART START-->
                    <div class="chart">
                            <ul class="incident-count">
                                <li><span>100</span></li>
                                <li><span>75</span></li>
                                <li><span>50</span></li>
                                <li><span>25</span></li>
                                <li><span>0</span></li>
                            </ul>
                            <ul class="incident-bars">

                                {% comment %} <li><div class="bar" data-percentage="55" style="background: #E4AE7E;"></div><span>2018</span></li>
                                <li><div class="bar" data-percentage="85" style="background: #E08E44;"></div><span>2019</span></li>
                                <li><div class="bar" data-percentage="75" style="background: #ED7027;"></div><span>2020</span></li>
                                <li><div class="bar" data-percentage="50" style="background: #E4AE7E;"></div><span>2021</span></li>
                                <li><div class="bar" data-percentage="45" style="background: #3C4273;"></div><span>2022</span></li>
                                <li><div class="bar" data-percentage="60" style="background: #FE982D;"></div><span>2023</span></li>
                                <li>

                                    <div class="bar" data-percentage="{{ incidents_per_year.2024 }}" 
                                         style="background: #3C4273; height: {{  incidents_in_2024 }}%;"></div>
                                    <span>2024</span>

                                    
                                </li>                      {% endcomment %}
                            </ul>
                    </div>
<!--CHART END-->
                </div>
            </div>
            <div class="detect-card">
                <div class="detect-header">
                    <h1>LATEST DETECTION</h1>
                </div>
                <div class="detect-body">

                            <div class="detect-content-{{ forloop.counter }}">
                                <a class="latest-preview" data-bs-toggle="modal" data-bs-target="#latest-detection">
                                    <div class="dc-info">
                                        <div class="dc-header">
                                            <h6>{{ report.where|default:"No report available" }}</h6>
                                        </div>
                                        <div class="dc-date-time">
                                            <h6>{{ report.date|date:"M d, Y"|default:"N/A" }}</h6>
                                            <h6>{{ report.time|date:"H:i"|default:"N/A" }}</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        
                        <div class="detect-content">
                            <div class="dc-info">
                                <div class="dc-header">
                                    <h6>No reports available</h6>
                                </div>
                                <div class="dc-date-time">
                                    <h6>N/A</h6>
                                    <h6>N/A</h6>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
</main>
{% include "modal_change_password.html" %}
{% include "modal_forgot_success.html" %}
{% include "modal_preview_summary.html" %}
{% include "modal_latest_detection.html" %}
{% endblock %}

{% block scripts %}
<!-- ADD SCRIPTS HERE -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/chart_analytics.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
