{% extends "sidebar.html" %}
{% load static %}
{% block title %} True the Fire {% endblock %}

{% block content %}
<header>
    <div class="header-content">
        <span class="navigation-title">
            <h1>Analytics</h1>
        </span>
        <ul class="navigation-list">
            <li class="navigation-item"><a href="#">Hotline</a></li>
            <li class="navigation-item"><a href="#">
                <span class="icon">
                    <i class="bi bi-person-circle"></i>
                </span>
                Hannah Grace Santos
            </a></li>
        </ul>
    </div>
</header>

<main>
    <div class="mn-content-area">
        <div class="analyses-box">
        <!--4 ANALYSES BOX START-->
            <div class="detected-card">
                <div class="status">
                    <div class="stat-progress">
                        <svg>
                            <circle cx="38" cy="38"
                            r="36"></circle>
                        </svg>
                        <div class="prog-text">
                            <p>Total: 80</p>
                        </div>
                    </div>
                    <div class="stat-body">
                        <div class="stat-info">
                            <h4>12</h4>
                        </div>
                        <div class="stat-label">
                            <h6>Detected</h6>
                            <h5>THIS DAY</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reported-card">
                <div class="status">
                    <div class="stat-progress">
                        <svg>
                            <circle cx="38" cy="38"
                            r="36"></circle>
                        </svg>
                        <div class="prog-text">
                            <p>Total: 80</p>
                        </div>
                    </div>
                    <div class="stat-body">
                        <div class="stat-info">
                            <h4>12</h4>
                        </div>
                        <div class="stat-label">
                            <h6>Reported</h6>
                            <h5>THIS WEEK</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="responded-card">
                <div class="status">
                    <div class="stat-progress">
                        <svg>
                            <circle cx="38" cy="38"
                            r="36"></circle>
                        </svg>
                        <div class="prog-text">
                            <p>Total: 80</p>
                        </div>
                    </div>
                    <div class="stat-body">
                        <div class="stat-info">
                            <h4>12</h4>
                        </div>
                        <div class="stat-label">
                            <h6>Responded</h6>
                            <h5>THIS MONTH</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total-responded-card">
                <div class="status">
                    <div class="stat-progress">
                        <svg>
                            <circle cx="38" cy="38"
                            r="36"></circle>
                        </svg>
                        <div class="prog-text">
                            <p>Total: 80</p>
                        </div>
                    </div>
                    <div class="stat-body">
                        <div class="stat-info">
                            <h4>12</h4>
                        </div>
                        <div class="stat-label">
                            <h6>Responded</h6>
                            <h5>THIS YEAR</h5>
                        </div>
                    </div>
                </div>
            </div>
<!--4 ANALYSES BOX END-->
        </div>

{% comment %} CHART AND LATEST DETECT {% endcomment %}

        <div class="chart-detect-box">
            <div class="chart-card">
                <div class="chart-header">
                    <h1>INCIDENTS</h1>
                </div>
                <div class="chart-graph">
<!--CHART START-->
                    <div class="chart">
                            <ul class="incident-count">
                                <li><span>100</span></li>
                                <li><span>75</span></li>
                                <li><span>50</span></li>
                                <li><span>25</span></li>
                                <li><span>0</span></li>
                            </ul>
                            <ul class="incident-bars">
                                <li><div class="bar" data-percentage="55" style="background: #E4AE7E;"></div><span>Option 01</span></li>
                                <li><div class="bar" data-percentage="85" style="background: #E08E44;"></div><span>Option 02</span></li>
                                <li><div class="bar" data-percentage="75" style="background: #ED7027;"></div><span>Option 03</span></li>
                                <li><div class="bar" data-percentage="50" style="background: #E4AE7E;"></div><span>Option 04</span></li>
                                <li><div class="bar" data-percentage="90" style="background: #3C4273;"></div><span>Option 05</span></li>
                                <li><div class="bar" data-percentage="75" style="background: #FE982D;"></div><span>Option 06</span></li>
                                <li><div class="bar" data-percentage="60" style="background: #FEBF4D;"></div><span>Option 07</span></li>
                            </ul>
                    </div>
<!--CHART END-->
                </div>
            </div>

            <div class="detect-card">
                <div class="detect-header">
                    <h1>LATEST</h1>
                </div>
                <div class="detect-body">
<!--LATEST DETECT START-->
                    <div class="detect-content-1">
                        <div class="dc-info">
                            <div class="dc-header">
                                <h6>dc-header</h6>
                            </div>
                            <div class="dc-date-time">
                                <h6>dc-date</h6>
                                <h6>dc-time</h6>
                            </div>
                        </div>
                    </div>
                    <div class="detect-content-2">
                        <div class="dc-info">
                            <div class="dc-header">
                                <h6>dc-header</h6>
                            </div>
                            <div class="dc-date-time">
                                <h6>dc-date</h6>
                                <h6>dc-time</h6>
                            </div>
                        </div>
                    </div>
                    <div class="detect-content-3">
                        <div class="dc-info">
                            <div class="dc-header">
                                <h6>dc-header</h6>
                            </div>
                            <div class="dc-date-time">
                                <h6>dc-date</h6>
                                <h6>dc-time</h6>
                            </div>
                        </div>
                    </div>
                    <div class="detect-content-4">
                        <div class="dc-info">
                            <div class="dc-header">
                                <h6>dc-header</h6>
                            </div>
                            <div class="dc-date-time">
                                <h6>dc-date</h6>
                                <h6>dc-time</h6>
                            </div>
                        </div>
                    </div>
                    <div class="detect-content-5">
                        <div class="dc-info">
                            <div class="dc-header">
                                <h6>dc-header</h6>
                            </div>
                            <div class="dc-date-time">
                                <h6>dc-date</h6>
                                <h6>dc-time</h6>
                            </div>
                        </div>
                    </div>
                </div>
<!--LATEST DETECT END-->
            </div>
        </div>
    </div>
</main>



{% endblock %}

{% block scripts %}
<!-- ADD SCRIPTS HERE -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/chart_analytics.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
