<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} True the Fire {% endblock %}</title>
</head>
<body>
    <p>THIS IS ON BASE.HTML </p>

    <!-- FOR CONTENT THAT NEEDS TO BE SHOWN ON EVERY HTML USING BASE, ADD CODE ABOVE THE CONTENT BLOCK -->
    {%block content%}
    <!-- DO NOT ADD CONTENT HERE -->
    {%endblock%}

    <!-- FOR SCRIPTS THAT NEED TO BE ADDED ON EVERY PAGE USING BASE, ADD CODE ABOVE THE SCRIPT BLOCK -->
    {%block scripts%}
    <!-- DO NOT ADD SCRIPTS HERE -->
    {%endblock%}
    
</body>
</html>