{% extends "sidebar.html" %}
{% load static %}
{% block title %} True the Fire {% endblock %}

{% block content %}
<header>
    <div class="header-content">
        <span class="navigation-title">
            <h1>Surveillance</h1>
        </span>
        <ul class="navigation-list">
            <li class="navigation-item"><a href="#">Hotline</a></li>
            <li class="navigation-item"><a href="#">
                <span class="icon">
                    <i class="bi bi-person-circle"></i>
                </span>
                Hannah Grace Santos
            </a></li>
        </ul>
    </div>
</header>

<main>
    <div class="mn-content-area">
        <div class="surveillance-box">
            <div class="surveillance-info">
                <div class="surveillance-date">
                    <h3>Surveillance Date</h3>
                </div>
                <div class="surveillance-time">
                    <h3>Surveillance Time</h3>
                </div>
                <div class="surveillance-loc">
                        <h3><i class="bi bi-geo-alt px-2"></i>Surveillance Location</h3>
                </div>
            </div>
            <div class="surveillance-body">
                <div class="surveillance-feed">
                    <h3>Surveillance Feed</h3>
                </div>
                <div class="create-button">
                    <a class="btn-create btn-lg px-4 py-3" data-bs-toggle="modal" data-bs-target="#create-report-modal">Create Report</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- create-report-modal -->
<div class="surveillance-modal">
    <div class="modal fade" id="create-report-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Get the Latest Updates</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="modal-email" class="form-label">Your email address:</label>
                    <input type="email" class="form-control" id="modal-email" placeholder="e.g. mario@example.com">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">CREATE</button>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}

{% block scripts %}
<!-- ADD SCRIPTS HERE -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
