{% extends "base.html" %}
{% load static %}
{% load active_link_tags %}
{% block title %}True the Fire{% endblock %}

{% block content %}
<!-- Main Container -->

<div class="container d-flex justify-content-center align-items-center min-vh-100" style="z-index: 5;">
    <!-- Login Container -->
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!-- Left Box -->
        <div class="col-md-6 rounded-5 d-flex justify-content-center align-items-center flex-column left-box" style="
            background-image: url('{% static 'images/bfp-starosa.png' %}');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-width: 2px;
            border-color: #ED7027;
            border-style: solid;">
            <div class="featured-image mb-3">
                <img src="{% static 'images/BFP OFFICIAL LOGO.png' %}" class="img-fluid" style="width: 350px;">
            </div>
            <p class="fs-1" style="
                font-family: 'Poppins';
                font-weight: 600;
                color: #0E1E4B;
                text-shadow: 2px 2px 10px whitesmoke;">
                True the Fire
            </p>
        </div>
        <!-- Right Box -->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column right-box">
            <div class="row align-items-center">
                <div class="header-text text-center mb-4 p-2">
                    <h1><i class="bi bi-stars p-1" style="color: #ED7027;"></i>Hello!</h1>
                </div>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-area">
                        <div class="input-section">
                            <div class="input-field">
                                <input type="email" id="email" name="email" class="user-input" placeholder="">
                                <div id="email-label" class="input-label">Email</div>
                            </div>
                            <span id="result" class="error-msg"></span> <!-- Updated to display results here -->
                        </div>
                        <div class="input-section">
                            <div class="pass-field">
                                <input type="password" id="password-field" name="password" class="user-input" placeholder="">
                                <div id="password-label" class="input-label">Password</div>
                                <i class="bi bi-eye" id="pass-eye"></i>
                            </div>
                            <span id="password-error" class="error-msg"></span>
                        </div>
                    </div>
                    <div class="input-group mb-5 d-flex justify-content-around" style="margin-top: 1.3rem;">
                        <div class="forgot w-100 d-flex justify-content-end">
                            <small><a class="forgot-link {% active_link 'forgot_password' %}" href="{% url 'forgot_password' %}" style="color: #ED7027;">Forgot Password?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-lg w-100 fs-5 btn-login">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- ADD SCRIPTS HERE -->
<script src="https://kit.fontawesome.com/462b05b88b.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/email_validation.js' %}"></script>
<script src="{% static 'js/password_toggle.js' %}"></script>
<script>

window.onload = function() {
    if (document.cookie.includes('logged_out=true')) {
        document.cookie = 'logged_out=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/';
        window.location.href = '{% url "login" %}';  
    }
};
</script>

{% endblock %}

