
<div class="modal fade" id="dismiss-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="dismiss-logo">
                    <i class="bi bi-exclamation-diamond"></i>
                    <h3>Are you sure you want to 
                        <span>DISMISS</span> this alert?</h3>
                </div>
                <div class="modal-footer">
                    <div class="mf-button">
                        <button class="btn btn-lg px-4 btn-cancel"  type="button" class="btn-close" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-lg px-4 btn-confirm" type="button">Confirm</button></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
