{% load static %}

<div class="modal fade" id="preview-incident-summary" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="mh-left">
                    <h3 class="modal-title" id="modal-title">INCIDENT SUMMARY</h3>
                    <div class="summary-option">
                        <div class="select-filter" id="period-filter">
                            <select class="form-select" aria-label="Default select example">
                                <option value="1" selected>Yearly</option>
                                <option value="2">Monthly</option>
                            </select>
                        </div>
                        <div class="select-filter" id="specific-filter">
                            <select class="form-select" aria-label="Default select example">
                                <option value="1" selected>January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="group-summary">
                    <div class="indiv-summary">
                        <div>Fire Detected Counts:</div>
                        <span>20</span>
                    </div>
                    <div class="indiv-summary">
                        <div>Peak Fire Month/Week:</div>
                        <span>Week 2</span>
                    </div>
                    <div class="indiv-summary">
                        <div>Most Affected Location:</div>
                        <span>Barangay Caingin</span>
                    </div>
                    <div class="indiv-summary">
                        <div>Total Casualties:</div>
                        <span>20</span>
                    </div>
                    <div class="indiv-summary">
                        <div>Estimated Damages:</div>
                        <span>P500,000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/incident_preview_filter.js' %}"></script>