
<div class="modal fade" id="preview-incident-summary" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">INCIDENT SUMMARY</h3>
                <div class="summary-option">
                    <div class="btn-group">
                        <button class="btn-summary-filter btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Yearly
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Yearly</a></li>
                            <li><a class="dropdown-item" href="#">Monthly</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn-summary-specific btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          January
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                            <li><a class="dropdown-item" href="#">April</a></li>
                            <li><a class="dropdown-item" href="#">May</a></li>
                            <li><a class="dropdown-item" href="#">June</a></li>
                            <li><a class="dropdown-item" href="#">July</a></li>
                            <li><a class="dropdown-item" href="#">August</a></li>
                            <li><a class="dropdown-item" href="#">September</a></li>
                            <li><a class="dropdown-item" href="#">October</a></li>
                            <li><a class="dropdown-item" href="#">November</a></li>
                            <li><a class="dropdown-item" href="#">December</a></li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="group-summary">
                    <div class="indiv-summary">
                        <div>Fire Detected Counts:</div>
                        <span>20</span>
                    </div>
                    <div class="indiv-summary">
                        <div>Peak Fire Month/Week:</div>
                        <span>Week 2</span>
                    </div>
                    <div class="indiv-summary">
                        <div>Most Affected Location:</div>
                        <span>Barangay Caingin</span>
                    </div>
                    <div class="indiv-summary">
                        <div>Percentage of Residential:</div>
                        <span>20%</span>
                    </div>
                    <div class="indiv-summary">
                        <div>Percentage of Commercial Fires:</div>
                        <span>11%</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="mf-button">
                    <button type="submit" id="print-button" class="btn btn-lg w-70 h-100 fs-5">Print</button>
                </div>
            </div>
        </div>
    </div>
</div>
