
{% load static %}

<div class="modal fade" id="report-preview-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Initial Report</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="report-preview-form">
                    <div class="form-row">
                        <div class="form-column">
                            <label for="loc" class="form-label">Location</label>
                            <input type="text" class="form-control" id="loc">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-column">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date">
                        </div>
                        <div class="form-column">
                            <label for="time" class="form-label">Time of Arrival</label>
                            <input type="time" class="form-control" id="time">
                        </div>
                        <div class="form-column">
                            <label for="time-out" class="form-label">Time of Fire Out</label>
                            <input type="time" class="form-control" id="time-out">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-column">
                            <label for="occupancy" class="form-label">Occupancy Type<i class="bi bi-asterisk"></i></label>
                            <select class="form-select" name="occupant" >
                                <option value="">Select the occupancy type...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-column">
                            <label for="name" class="form-label">Name of Owner<i class="bi bi-asterisk"></i></label>
                            <input type="text" class="form-control" id="name" placeholder="e.g. Juan Dela Cruz">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-column">
                            <label for="alarm" class="form-label">Alarm Status<i class="bi bi-asterisk"></i></label>
                            <select class="form-select" name="alarms">
                                <option value="">Select the alarm status...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-column">
                            <label for="respondents" class="form-label">No. of Respondents<i class="bi bi-asterisk"></i></label>
                            <input type="number" class="form-control" id="respondents" placeholder="e.g. 11">
                        </div>
                        <div class="form-column">
                            <label for="damages" class="form-label">Estimated Damages<i class="bi bi-asterisk"></i></label>
                            <input type="text" class="form-control" id="damages" placeholder="e.g. P1,000,000">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-column">
                            <label for="establish" class="form-label">No. of Establishments<i class="bi bi-asterisk"></i></label>
                            <input type="number" class="form-control" id="establish" placeholder="e.g. 11">
                        </div>
                        <div class="form-column">
                            <label for="casualties" class="form-label">No. of Casualties<i class="bi bi-asterisk"></i></label>
                            <input type="number" class="form-control" id="casualties" placeholder="e.g. 11">
                        </div>
                        <div class="form-column">
                            <label for="injured" class="form-label">No. of Injured<i class="bi bi-asterisk"></i></label>
                            <input type="number" class="form-control" id="injured" placeholder="e.g. 11">
                        </div>
                    </div>

                    <div class="form-column" data-proof="{{ report.proof.url }}" id="proof">
                        {% if report.proof %}
                        <img src="{{ report.proof.url }}" alt="Proof Image" class="img-fluid" style="max-width: 100px;">
                    {% else %}
                        No Proof Image
                    {% endif %}
                    
                    </div>           

                </form>
                
            </div>

            <div class="modal-footer">
                <div class="mf-button">
                    <button class="btn btn-lg px-4" id="resolve-button" data-report-id="{{ report.id }}">Resolve</button>
                </div>
            </div>

        </div>
    </div>
</div>

