
{% load static %}
<!-- report-preview-modal -->
<div class="modal fade" id="report-preview-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Initial Report</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="report-preview-form">
                    <div class="form-row">
                        <div class="form-column">
                            <label for="modal-loc" class="form-label">Location</label>
                            <input type="text" class="form-control" id="modal-loc" value=" Barangay Caingin">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-column">
                            <label for="modal-date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="modal-date"  value="2024-09-05">
                        </div>
                        <div class="form-column">
                            <label for="modal-time" class="form-label">Time of Arrival</label>
                            <input type="time" class="form-control" id="modal-time" value="12:00">
                        </div>
                        <div class="form-column">
                            <label for="modal-time" class="form-label">Time of Fire Out</label>
                            <input type="time" class="form-control" id="modal-time" value="14:00">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-column">
                            <label for="modal-occupancy" class="form-label">Occupancy Type</label>
                            <select class="form-select" aria-label="Default select example" >
                                <option value="" >Select the occupancy type...</option>
                                <option value="1" selected>Residential</option>
                                <option value="2">Industrial</option>
                                <option value="3">Business</option>
                                </select>
                        </div>
                        <div class="form-column">
                            <label for="modal-name" class="form-label">Name of Owner</label>
                            <input type="text" class="form-control" id="modal-name" value="Juan Dela Cruz">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-column">
                            <label for="modal-alarm" class="form-label">Alarm Status</label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="">Select the alarm status...</option>
                                <option value="1">One</option>
                                <option value="2" selected>Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                                <option value="5">Five</option>
                                </select>
                        </div>
                        <div class="form-column">
                            <label for="modal-respondents" class="form-label">No. of Respondents</label>
                            <input type="number" class="form-control" id="modal-respondents" value="11">
                        </div>
                        <div class="form-column">
                            <label for="modal-damages" class="form-label">Estimated Damages</label>
                            <input type="text" class="form-control" id="modal-damages" value="P1,000,000">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-column">
                            <label for="modal-establish" class="form-label">No. of Establishments</label>
                            <input type="number" class="form-control" id="modal-establish" value="11">
                        </div>
                        <div class="form-column">
                            <label for="modal-casualties" class="form-label">No. of Casualties</label>
                            <input type="number" class="form-control" id="modal-casualties" value="11">
                        </div>
                        <div class="form-column">
                            <label for="modal-injured" class="form-label">No. of Injured</label>
                            <input type="number" class="form-control" id="modal-injured" value="11">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-column">
                            <label for="modal-proof" class="form-label">Proof</label>
                            <div class="proof-image">
                                <img src="{% static 'images/fire-proof.png' %}" alt="">
                            </div>
                            <input type="file" class="form-control" id="modal-proof" value="mario@example.com">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="mf-button">
                    <button class="btn btn-lg px-4">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
