<div class="modal fade" id="unsaved-warning-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="warn-logo">
                    <i class="bi bi-exclamation-triangle"></i>
                    <h3>You have <span>UNSAVED CHANGES!</span></h3>
                    <h5>Are you sure you want to leave?</h5>
                </div>
                <div class="modal-footer">
                    <div class="mf-button">
                        <button class="btn btn-lg px-4 btn-stay" id="stay" type="button">Stay</button>
                        <button class="btn btn-lg px-4 btn-leave" id="leave" type="button">Leave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
