
<div class="modal fade" id="remove-account-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="remove-logo">
                    <i class="bi bi-person-dash"></i>
                    <h3>Are you sure you want to
                        remove this account?</h3>
                </div>
                <div class="modal-footer">
                    <div class="mf-button">
                        <button class="btn btn-lg px-4 btn-cancel"  type="button" class="btn-close" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-lg px-4 btn-confirm"  type="submit" >Confirm</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
