{% extends "sidebar.html" %}
{% load static %}
{% block title %} True the Fire {% endblock %}

{% block content %}
<header>
    <div class="header-content">
        <span class="navigation-title">
            <h1>Reports</h1>
        </span>
        <ul class="navigation-list">
            <div class="dropdown">
                <button class="btn-hotline dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Hotline
                </button>
                <ul class="dropdown-menu drop-hotline" aria-labelledby="dropdownMenu2">
                    <li class="dropdown-item">(610) 888-1111</li>
                    <li class="dropdown-item">(610) 888-1111</li>
                    <li class="dropdown-item">(610) 888-1111</li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn-profile dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="icon">
                        <i class="bi bi-person-circle"></i>
                    </span>
                    {{ user.name }}
                </button>
                <ul class="dropdown-menu drop-profile" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#change-pass-modal">Change Password</button></li>
                </ul>
            </div>
        </ul>
    </div>
</header>

<main>
    <div class="mn-content-area">
        <div class="reports-box">
            <div class="reports-header">
                <h1>List of Reports</h1>
            </div>
            <div class="reports-body">

                <div class="rb-header">
                    <div class="rbh-left">
                        <div class="rbh-search">
                            <input type="text" id="searchInput" class="search-report" placeholder="Search">
                        </div>
                        
                        <div class="create-button">
                            <a class="btn-create btn-lg btn" data-bs-toggle="modal" data-bs-target="#create-report-modal"><i class="bi bi-plus-circle px-1"></i>Create Report</a>
                        </div>
                    </div>
                    
                    <div class="rbh-right">
                        <div class="rbh-filter">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  Filter
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="rb-table">   
                    <table>
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        
                        <tbody id="reportTable" data-report-id="{{ report.id }}">
                            {% for report in reports %}
                            <tr 
                            data-report-id="{{ report.id }}"
                                data-location="{{ report.where }}" 
                                data-date="{{ report.date|date:'Y-m-d' }}" 
                                data-time="{{ report.time|time:'H:i' }}"
                                data-fireout="{{ report.time_of_fire_out|time:'H:i' }}"
                                data-occupancy="{{ report.occupancy_type }}"
                                data-owner="{{ report.name_of_owner }}"
                                data-alarm="{{ report.alarm_status }}"
                                data-respondents="{{ report.no_of_respondents }}"
                                data-damages="{{ report.estimated_damage }}"
                                data-establishments="{{ report.no_of_establishments }}"
                                data-casualties="{{ report.no_of_casualties }}"
                                data-injured="{{ report.no_of_injured }}"
                                data-proof="{{ report.proof }}"
                                data-bs-toggle="modal" 
                                data-bs-target="#report-preview-modal">
                                
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-{{ report.id }}">
                                        <label class="form-check-label" for="flexCheckDefault-{{ report.id }}"></label>
                                    </div>
                                </td>
                                <td>{{ report.where }}</td>
                                <td>{{ report.date|date:"m/d/Y" }}</td>
                                <td>{{ report.time|date:"h:i A" }}</td>                           
                                <td>
                                    <h6 id="status-text-{{ report.id }}">{{ report.status }}</h6>
                                </td>                                                             

                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No reports available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>                       
                    </table>

                </div>
                <div class="rb-buttons">
                    <div class="rb-export">
                        <button type="button" class="btn btn-lg btn">Export</button>
                    </div>

                    <div class="rb-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item prev disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item" data-page="1"><a class="page-link" href="#">1</a></li>
                                <li class="page-item" id="button2" data-page="2"><a class="page-link" href="#">2</a></li>
                                <li class="page-item" id="button3" data-page="3"><a class="page-link" href="#">3</a></li>
                                <li class="page-item next">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>                            
                        </nav>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</main>
{% include "modal_create_report.html" %}
{% include "modal_preview_report.html" %}
{% include "modal_change_password.html" %}
{% include "modal_forgot_success.html" %}
{% endblock %}

{% block scripts %}
<!--ADD SCRIPTS HERE-->
<script src="{% static 'js/form_controls.js' %}"></script>
<script src="{% static 'js/table_status.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xlsx-style@0.8.23/dist/xlsx-style.full.min.js"></script>




<script>

document.addEventListener('DOMContentLoaded', function() {

function exportTableToExcel(tableId, filename = 'report_data.xlsx') {
    var table = document.getElementById(tableId);
    var wb = XLSX.utils.table_to_book(table, {sheet: "Report Data"});

    var ws = wb.Sheets["Report Data"];

    XLSX.utils.sheet_add_aoa(ws, [[ "Location", "Date", "Time", "Status"]], {origin: "A1"});

    const headerRange = XLSX.utils.decode_range(ws['!ref']);
    for (let C = headerRange.s.c; C <= headerRange.e.c; C++) {
        let cellAddress = XLSX.utils.encode_cell({r: 0, c: C});
        if (!ws[cellAddress]) continue;
        ws[cellAddress].s = {
            font: {bold: true, color: {rgb: "FFFFFF"}},
            fill: {
                fgColor: {rgb: "FFA500"}
            },
            alignment: {horizontal: "center", vertical: "center"}
        };
    }
    ws['!cols'] = [

        {wch: 20},
        {wch: 15}, 
        {wch: 15},
        {wch: 15}, 
    ];

    XLSX.writeFile(wb, filename);
}

document.querySelector('.rb-export button').addEventListener('click', function() {
    exportTableToExcel('reportTable', 'report_data.xlsx');
});
});


document.addEventListener('DOMContentLoaded', function() {
    const rowsPerPage = 10;
    let currentPage = 1;
    const tableBody = document.getElementById('reportTable');
    const rows = tableBody.querySelectorAll('tr');
    const totalPages = Math.ceil(rows.length / rowsPerPage);

    function displayRowsForPage(page) {
        const start = (page - 1) * rowsPerPage;
        const end = start + rowsPerPage;

        rows.forEach((row, index) => {
            if (index >= start && index < end) {
                row.style.display = ''; 
            } else {
                row.style.display = 'none'; 
            }
        });

        updatePaginationControls();
    }

    function updatePaginationControls() {
        const prevButton = document.querySelector('.pagination .prev');
        const nextButton = document.querySelector('.pagination .next');
        const page2Button = document.getElementById('button2');
        const page3Button = document.getElementById('button3');

        prevButton.classList.toggle('disabled', currentPage === 1);

        nextButton.classList.toggle('disabled', currentPage === totalPages);

        page2Button.classList.toggle('disabled', rows.length < rowsPerPage); 
        
        page3Button.classList.toggle('disabled', rows.length < (rowsPerPage * 2)); 

        document.querySelectorAll('.pagination .page-item').forEach((pageButton) => {
            pageButton.classList.remove('active');
        });
        document.querySelector(`.pagination .page-item[data-page="${currentPage}"]`).classList.add('active');
    }

    document.querySelector('.pagination .prev').addEventListener('click', function(e) {
        e.preventDefault();
        if (currentPage > 1) {
            currentPage--;
            displayRowsForPage(currentPage);
        }
    });

    document.querySelector('.pagination .next').addEventListener('click', function(e) {
        e.preventDefault();
        if (currentPage < totalPages) {
            currentPage++;
            displayRowsForPage(currentPage);
        }
    });

    document.querySelectorAll('.pagination .page-item[data-page]').forEach((pageButton) => {
        pageButton.addEventListener('click', function(e) {
            e.preventDefault();
            if (!this.classList.contains('disabled')) {
                currentPage = parseInt(this.getAttribute('data-page')); 
                displayRowsForPage(currentPage);
            }
        });
    });

    displayRowsForPage(currentPage);
});


    
    const reportRows = document.querySelectorAll("tbody tr[data-bs-toggle='modal']");

    reportRows.forEach(row => {
        row.addEventListener('click', function () {
            const reportId = row.getAttribute('data-report-id');
            const location = row.getAttribute('data-location');
            const date = row.getAttribute('data-date');
            const timeArrival = row.getAttribute('data-time');
            const timeFireOut = row.getAttribute('data-fireout');
            const occupancy = row.getAttribute('data-occupancy');
            const owner = row.getAttribute('data-owner');
            const alarm = row.getAttribute('data-alarm');
            const respondents = row.getAttribute('data-respondents');
            const damages = row.getAttribute('data-damages');
            const establishments = row.getAttribute('data-establishments');
            const casualties = row.getAttribute('data-casualties');
            const injured = row.getAttribute('data-injured');
            const proof = row.getAttribute('data-proof'); 
            

            document.getElementById('loc').value = location;
            document.getElementById('date').value = date;
            document.getElementById('time').value = timeArrival;
            document.getElementById('time-out').value = timeFireOut;
            document.querySelector("select[name='occupant']").value = occupancy;
            document.getElementById('name').value = owner;
            document.querySelector("select[name='alarms']").value = alarm;
            document.getElementById('respondents').value = respondents;
            document.getElementById('damages').value = damages;
            document.getElementById('establish').value = establishments;
            document.getElementById('casualties').value = casualties;
            document.getElementById('injured').value = injured;
            
            const proofImg = document.getElementById('proof');
            if (proof) {
                proofImg.src = `/media/${proof}`;
                proofImg.style.display = 'block';
            } else {
                proofImg.style.display = 'none';
            }

            const modalResolveButton = document.querySelector(`#resolve-button-${reportId}`);
            if (modalResolveButton) {
                modalResolveButton.addEventListener('click', function() {

                    modalResolveButton.click();
                });
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
    const reportRows = document.querySelectorAll("tbody tr[data-bs-toggle='modal']");
    const resolveButton = document.querySelector('.resolve-button'); 
    reportRows.forEach(row => {
        row.addEventListener('click', function () {
            const reportId = row.getAttribute('data-report-id');
            const status = row.querySelector(`#status-text-${reportId}`).textContent.trim();

            resolveButton.setAttribute('data-report-id', reportId);
            resolveButton.setAttribute('data-status', status);
            if (status === 'Case Closed') {
                resolveButton.disabled = true;
                resolveButton.textContent = 'Status Closed';
            } else {
                resolveButton.disabled = false;
                resolveButton.textContent = 'Resolve'; 
            }
        });
    });

    resolveButton.addEventListener('click', function(event) {
        event.preventDefault();

        const reportId = this.getAttribute('data-report-id');
        const currentStatus = this.getAttribute('data-status');
        const newStatus = currentStatus === 'Ongoing' ? 'Case Closed' : 'Ongoing';

        const csrfToken = getCookie('csrftoken');

        fetch(`/toggle-status/${reportId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({ status: newStatus })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status) {
                const statusTextElement = document.querySelector(`#status-text-${reportId}`);

                if (statusTextElement) {
                    statusTextElement.textContent = data.status;
                }

                this.setAttribute('data-status', data.status);
                if (data.status === 'Case Closed') {
                    this.disabled = true;
                    this.textContent = 'Status Closed';
                }
            }

            if (data.message) {
                console.log(data.message);
            }
        })
        .catch(error => {
            console.error('Error in status update:', error);
        });
    });
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  
        document.getElementById('searchInput').addEventListener('keyup', function() {
        var searchValue = this.value.toLowerCase();
        var tableRows = document.querySelectorAll('#reportTable tr');
        
        tableRows.forEach(function(row) {
        var location = row.cells[1].textContent.toLowerCase();
        var date = row.cells[2].textContent.toLowerCase();
        var time = row.cells[3].textContent.toLowerCase();
        
        if (location.includes(searchValue) || date.includes(searchValue) || time.includes(searchValue)) {
        row.style.display = '';
        } else {
        row.style.display = 'none';
        }
        });
        });
    
</script>
    



{% endblock %}