{% extends "sidebar.html" %}
{% load static %}
{% block title %} True the Fire {% endblock %}

{% block content %}
<header>
    <div class="header-content">
        <span class="navigation-title">
            <h1>Reports</h1>
        </span>
        <ul class="navigation-list">
            <li class="navigation-item"><a href="#">Hotline</a></li>
            <li class="navigation-item"><a href="#">
                <span class="icon">
                    <i class="bi bi-person-circle"></i>
                </span>
                Hannah Grace Santos
            </a></li>
        </ul>
    </div>
</header>

<main>
    <div class="mn-content-area">
        <div class="reports-box">
            <div class="reports-header">
                <h1>List of Reports</h1>
            </div>
            <div class="reports-body">
                <div class="rb-header">
                    <div class="rbh-search">
                        <input class="search-report" placeholder="Search">
                    </div>
                    <div class="rbh-filter">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Filter
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                    </div>
                </div>

                <div class="rb-table">   
                    <table>
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in reports %}
                            <tr 
                                data-location="{{ report.where }}" 
                                data-date="{{ report.date|date:'Y-m-d' }}" 
                                data-time="{{ report.time|time:'H:i' }}"
                                data-fireout="{{ report.time_of_fire_out|time:'H:i' }}"
                                data-occupancy="{{ report.occupancy_type }}"
                                data-owner="{{ report.name_of_owner }}"
                                data-alarm="{{ report.alarm_status }}"
                                data-respondents="{{ report.no_of_respondents }}"
                                data-damages="{{ report.estimated_damage }}"
                                data-establishments="{{ report.no_of_establishments }}"
                                data-casualties="{{ report.no_of_casualties }}"
                                data-injured="{{ report.no_of_injured }}"
                                data-proof="{{ report.proof }}"
                                data-bs-toggle="modal" 
                                data-bs-target="#report-preview-modal">
                                <!-- Only display these columns in the table -->
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-{{ report.id }}">
                                        <label class="form-check-label" for="flexCheckDefault-{{ report.id }}"></label>
                                    </div>
                                </td>
                                <td>{{ report.where }}</td>
                                <td>{{ report.date|date:"m/d/Y" }}</td>
                                <td>{{ report.time|date:"h:i A" }}</td>
                                
                                
                                <td>
                                    <h6>Resolved</h6>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No reports available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                        
                    </table>

                </div>
                <div class="rb-buttons">
                    <div class="rb-export">
                        <button type="button" class="btn btn-lg btn">Export</button>
                    </div>
                    <div class="rb-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    
    const reportRows = document.querySelectorAll("tbody tr[data-bs-toggle='modal']");

reportRows.forEach(row => {
    row.addEventListener('click', function () {
        const location = row.getAttribute('data-location');
        const date = row.getAttribute('data-date');
        const timeArrival = row.getAttribute('data-time');
        const timeFireOut = row.getAttribute('data-fireout');
        const occupancy = row.getAttribute('data-occupancy');
        const owner = row.getAttribute('data-owner');
        const alarm = row.getAttribute('data-alarm');
        const respondents = row.getAttribute('data-respondents');
        const damages = row.getAttribute('data-damages');
        const establishments = row.getAttribute('data-establishments');
        const casualties = row.getAttribute('data-casualties');
        const injured = row.getAttribute('data-injured');
        const proof = document.querySelector('[data-proof]').getAttribute('data-proof');


        // Set modal inputs
        document.getElementById('modal-loc').value = location;
        document.getElementById('modal-date').value = date;
        document.getElementById('modal-time').value = timeArrival;
        document.getElementById('modal-time-out').value = timeFireOut; 
        document.querySelector("select[name='occupancy']").value = occupancy;
        document.getElementById('modal-name').value = owner;
        document.querySelector("select[name='alarm']").value = alarm;
        document.getElementById('modal-respondents').value = respondents;
        document.getElementById('modal-damages').value = damages;
        document.getElementById('modal-establish').value = establishments;
        document.getElementById('modal-casualties').value = casualties;
        document.getElementById('modal-injured').value = injured;
        document.getElementById('modal-proof').value = proof;


document.getElementById('modal-proof-image').src = `proofs/${proof}`;

    });
});

</script>


{% include "modal_preview_report.html" %}

{% endblock %}

{% block scripts %}
<!--ADD SCRIPTS HERE-->
<script src="{% static 'js/form_controls.js' %}"></script>
<script src="{% static 'js/table_status.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}