
<div class="modal fade" id="forgot-success-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="md-state">
                    <div class="success-logo">
                        <i class="bi bi-check2-circle pb-1" ></i>
                        <h4 style="text-align: center;">Your password has been reset successfully!</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mf-button">
                        <button class="btn btn-md px-4" id="modal-ok-button" data-bs-dismiss="modal"  type="submit">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

