
<div class="modal fade modal-success" id="addacc-success-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="md-state">
                    <div class="success-logo">
                        <i class="bi bi-check2-circle"></i>
                        <h4>The account has been added successfully!</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mf-button">
                        <button class="btn btn-lg px-4" class="btn btn-default" data-bs-dismiss="modal" id="modal-ok-button"  type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

