<!-- Custom Alert Modal -->
<div class="modal fade" id="customAlertModal" tabindex="-1" aria-labelledby="customAlertModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="customAlertModalLabel">True the Fire</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="customAlertMessage">
                <h2>Content is Copied</h2>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg px-4 btn-disconfirm" type="button" data-bs-dismiss="modal">OK</button></a>
            </div>
        </div>
    </div>
</div>