
<div class="modal fade modal-success" id="editacc-success-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="md-state">
                    <div class="success-logo">
                        <i class="bi bi-check2-circle"></i>
                        <h4>Your changes have been saved successfully!</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mf-button">
                        <button class="btn btn-lg px-4" id="modal-ok-button"  type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const okButton = document.getElementById('modal-ok-button'); // "OK" button in the success modal

    okButton.addEventListener('click', function () {
        // Refresh the page when the "OK" button is clicked
        window.location.reload();
    });
});

</script>