@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* ======== Root Variables ======== */
:root{
    /* ======== Colors ======== */
    --color-primary: rgb(14, 30, 75);
    --color-secondary: rgb(237, 112, 39);
    --color-tertiary: rgb(254, 152, 45);
    --color-hover: rgb(254, 191, 77);
    --color-default: rgb(238, 239, 243);
    --color-sidebar: rgba(65, 88, 155, 0.77);
    --color-white: #ffffff;

    /* ======== Transition ======== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

     /* ======== Border Radius ======== */
     --border-radius-small: 1.5rem;
     --border-radius-medium: 2rem;
     --border-radius-button: 1rem;

}

/* ======== Global Styles ======== */
*{
    font-family: 'Poppins', 'Roboto', 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: calc(100% / 13 * 2) 1fr; /* Adjust to account for the fixed sidebar */
    grid-template-rows: 90px auto;
    grid-template-areas:
    "sb hd hd hd hd hd hd hd hd hd hd hd hd hd"
    "sb mn mn mn mn mn mn mn mn mn mn mn mn mn";
}

aside,
main{
    padding: 16px;
    text-align: center;
}

/* ======== HEADER ======== */

header {
    /* border: burlywood 3px solid; */
    grid-area: hd;
    z-index: 2;
    padding-left: 30px;
    padding-right: 50px;
    color: #ffffff;
    white-space: nowrap; /* Prevent the content from wrapping */
    overflow: hidden; /* Hide any overflow content */
}

.header-content {
    /* border: burlywood 3px solid; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Distribute space between the title and links */
    align-items: end;
    height: 100%;
    gap: 1rem;
}

.navigation-list {
    /* border: white 2px solid; */
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding-bottom: 12px;
    white-space: nowrap;
}

/* .navigation-item {
    border: green 2px solid;
} */


.navigation-item a{
    text-decoration: none;
    color:white;
    font-size: large;
    white-space: nowrap;
}

.navigation-item a:hover{
    color:#ED7027;
}
/* ================================  SIDEBAR ================================  */

aside{
    /* border: green solid 3px; */
    grid-area: sb;
    z-index: 2;
}

.sidebar-content{
    /* border: 2px solid aqua; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.sidebar{
    background-color: var(--color-default);
    position: fixed; /* Make the sidebar fixed on the side */
    top: 1rem; /* Align it to the top of the viewport */
    left: 1rem; /* Align it to the left of the viewport */
    width: calc(100% / 14 * 2); /* Adjust width according to your grid layout */
    height: 96.5vh; /* Full height to cover the entire viewport */
    border-radius: var(--border-radius-small);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: hidden; /* Enable scrolling inside the sidebar if content overflows */
}

.sb-header{
    /* border: green solid 2px; */
    width: 100%;
    padding-top: 15px;
}
.sbheader-logo {
    /* border: var(--color-secondary) solid 2px; */
    padding: 10px;

}
.sb-header img{
    width: 110px;
    height: 110px;
}

.sbheader-text{
    padding: 10px;
}

.sb-body {
    /* border: black solid 2px; */
    width: 100%;
    height: 72%;
    padding: 12px;
    justify-content: center;
    display: flex;
    flex-direction: column; /* Aligns nav links vertically */
}

.sb-body nav {
    /* border: purple solid 2px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stacks nav links in a column */
}

.sb-body .nav-link {
    /* border: red solid 2px; */
    border-radius: 0.5rem;
    margin-bottom: 0.9rem;
    padding: 2px;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
    width: 100%;
}

.sb-body .nav-link:last-child {
    margin-top: auto; /* Pushes the last nav link to the bottom */
}

.sb-body .icon{
    /* border: var(--color-sidebar) solid 2px; */
    font-size: 30px;
    color: var(--color-sidebar)
}

.sb-body .description{
    /* border: var(--color-sidebar) solid 2px; */
    font-size: 19px;
    font-weight: 500;
    color: var(--color-sidebar)
}

.sidebar .nav-link:hover {
    background: var(--color-primary);
    cursor: pointer;

}

.sidebar .nav-link:hover .icon,
.sidebar .nav-link:hover .description {
    color: var(--color-white);
}

/* ================================  MAIN ================================  */

main{
    /* border: purple 3px solid; */
    grid-area: mn;
    z-index: 2;
    color: #ED7027;
}

.mn-content-area{
    border: red solid 2px;
    width: 100%;
    height: 100%;
}

.surveillance-box{
    background-color: var(--color-default);
    width: 100%;
    height: 100%;
    padding-top: 16px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-small);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.surveillance-info{
    /* border: blue solid 3px; */
    width: 100%;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    grid-template-rows: auto auto; /* Two rows that adjust to the content */
    grid-template-areas:
    "bl dt"
    "lc tm";
    gap: 10px;
    overflow-x: hidden;
    white-space: nowrap;
    color: var(--color-primary);
}

.surveillance-date{
    grid-area: dt;
}
.surveillance-time{
    grid-area: tm;
}

.surveillance-date,
.surveillance-time{
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}

.surveillance-loc{
    grid-area: lc;
    display: flex;
    justify-content: start;
    padding-left: 2rem;
}

.surveillance-body{
    /* border: var(--color-primary) solid 3px; */
    width: 90%;
    padding:3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-x: auto;
    color: var(--color-primary);
}

.surveillance-feed{
    border: var(--color-secondary) solid 3px;
    background-color: #ffffff;
    width: 1000px;
    height: 500px;
    border-radius: var(--border-radius-medium);
    align-content: center;
}

.create-button{
    /* border: var(--color-secondary) solid 3px;
    */
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-create{
    background-color: var(--color-tertiary) !important;
    border: none;
    border-radius: var(--border-radius-button);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.15s, transform 0.15s ease-in-out 0.15s;
}

.btn-create:hover{
    background-color: var(--color-hover) !important;
    transform: scale(1.05);
}

/* ================================  Media Queries for Responsive Design ================================  */

/* Sidebar adjustments for smaller screens */
@media (max-width: 1500px) {
    body {
        grid-template-columns: 85px 1fr; /* Sidebar is 80px, rest of the space is for the main content */
        grid-template-areas:
        "sb hd hd hd hd hd hd hd hd hd hd hd hd hd"
        "sb mn mn mn mn mn mn mn mn mn mn mn mn mn";
    }
    .sidebar {
        width: 80px;
        left: 0.5rem;
        border-radius: 1rem;
    }
    .sb-header img {
        width: 60px;
        height: 60px;
    }
    .sb-header .sbheader-logo {
        margin-bottom: 1rem;
    }
    .sb-body .description,
    .sb-header .sbheader-text {
        display: none;
    }
    .sb-body {
        height:80%
    }
    .sb-body  .nav-link {
        /* border: var(--color-sidebar) solid 2px; */
        padding: 0;
        margin: 0;
        margin-top: 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
    }
/* Surveillance adjustments for smaller screens */
    .surveillance-feed{
        width: 800px;
    }

}

/* Main-Surveillance adjustments for smaller screens */
@media (max-width: 920px) {
    .surveillance-info{
        grid-template-columns: 1fr; /* Two columns of equal width */
        grid-template-rows: auto auto auto; /* Two rows that adjust to the content */
        grid-template-areas:
        "dt"
        "tm"
        "lc";
    }
    .surveillance-box,
    .surveillance-date,
    .surveillance-time,
    .surveillance-loc{
        justify-content: center;
        padding: 0;
    }

    .header-content {
        align-items: center;
    }
    .surveillance-body{
        padding: 0;
    }
    .surveillance-feed{
        width: 700px;
    }
}

/* ======== Divider Styles ======== */
.top-divider {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto; /* Ensures the height adjusts automatically */
    overflow: hidden; /* Hide overflow to avoid white line */
    z-index: 1; /* Divider is below content */
}

.top-divider svg {
    width: 101%;
    height: auto; /* Keeps the aspect ratio intact */
    display: block; /* Prevents unnecessary bottom space */
    margin: 0; /* Ensure no margin is causing the white space */
    padding: 0;
}

.custom-shape-divider-bottom-1724214088 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1; /* Divider is below content */
}

.custom-shape-divider-bottom-1724214088 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 179px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1724214088 .shape-fill {
    fill: #ED7027;
}
