@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* ======== Root Variables ======== */
:root{
    /* ======== Colors ======== */
    --color-primary: rgb(14, 30, 75);
    --color-secondary: rgb(237, 112, 39);
    --color-tertiary: rgb(254, 152, 45);
    --color-default: rgb(238, 239, 243);
    --color-sidebar: rgba(65, 88, 155, 0.77);
    --color-white: #ffffff;

    /* ======== Transition ======== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

/* ======== Global Styles ======== */
body{
    position: relative;
}

*{
    font-family: 'Poppins', 'Roboto', 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======== Container Styles ======== */
.container {
    position: relative;
    z-index: 5;
}

.box-area {
    width: 1200px;
    height: 650px;
    position: relative;
    z-index: 7; /* Ensures the login container is on top */
}

/* ======== Divider Styles ======== */
.top-divider {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto; /* Ensures the height adjusts automatically */
    overflow: hidden; /* Hide overflow to avoid white line */
    z-index: 2;
}

.top-divider svg {
    width: 101%;
    height: auto; /* Keeps the aspect ratio intact */
    display: block; /* Prevents unnecessary bottom space */
    margin: 0; /* Ensure no margin is causing the white space */
    padding: 0;
    z-index: 2;
}

.custom-shape-divider-bottom-1724214088 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}

.custom-shape-divider-bottom-1724214088 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 179px;
    transform: rotateY(180deg);
    z-index: 2;
}

.custom-shape-divider-bottom-1724214088 .shape-fill {
    fill: #ED7027;
}

/* ======== Right Box Styles ======== */
.right-box {
    padding: 40px 30px 40px 40px;
}

.right-box .form-control:focus{
    border: var(--color-tertiary) 2px solid;
    box-shadow: none;
}


/* ======== Button Styles ======== */
.right-box .btn-login {
    background-color: var(--color-primary);
    color: white !important;
    transition: ease-in-out 0.1s, transform 0.1s ease-in-out 0.1s;
}

.btn-login:hover {
    background-color: var(--color-sidebar); /* Change the background color on hover */
    transform: scale(1.01); /* Slightly increase the size on hover */
    color: white;
}

/* ======== Placeholder Styles ======== */
::placeholder {
    font-size: 16px;
}

/* ======== Rounded Corners ======== */
.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

/* ======== Media Queries for Responsive Design ======== */

/* Small screens */
@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }
    .left-box {
        height: 200px;
        overflow: hidden;
    }
    .right-box {
        padding: 20px;
    }
    .left-box .featured-image {
        margin-top: 3.5rem;
    }
}